/* Write your CSS here */
/* Write your CSS here */
.about-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-bg-dark {
  background-color: #000000;
}
.about-bg-light {
  background-color: #ffffff;
}

.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.about-image {
  width: 300px;
}
